<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../css/bootstrap.css" rel="stylesheet">
<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="../js/base.js"></script>
<script type="text/javascript" src="../js/bootstrap.js"></script>
<!-- User Define-->
<link href="../css/vuhong.css" rel="stylesheet">
<script type="text/javascript" src="../js/index.js"></script>
<title>Hải sản Cam Ranh</title>
<style type="text/css">
body {
	background: url('../img/bg.jpg') center repeat fixed;
}
</style>
</head>
<body>
	<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav"
		role="banner">
	<div class="container">
		<div class="navbar-header">
			<a href="/" class="navbar-brando"><img src="../img/logo.png"
				alt="Hải sản sạch" class="vh-logo"></a>
		</div>

		<!-- Collapse -->
		<ul class="nav navbar-nav navbar-right">
		</ul>
		</nav>
		<!-- /Collapse -->

	</div>
	</header>
	<br />
	<br />
	<br />
	<br />
	<br />
	<div class="container">

		<div class="vh-menu-vertical">
			<ul>
				<li><a href="/item/">Tất cả</a></li>
				<li><a href="/item/1">Mực</a></li>
				<li><a href="/item/2">Bạch tuột</a></li>
				<li><a href="/item/3">Khô</a></li>
				<li><a href="/item/4">Cá</a></li>
			</ul>
		</div>

		<div class="vh-image-item">
			<ul>
				<% for(var i=0; i
				<data.length; i++) {
				%>
				<li class="vh-radius"><img alt="" src="<%- data[i].img%>"
					class="vh-image-item-bg vh-radius">
					<div class="vh-image-item-info vh-radius">
						<div>
							<a href="#"><%- data[i].name%></a> <span><%-
								data[i].description%></span>
						</div>
					</div> <span class="vh-image-item-price"><%- data[i].newprice%></span></li>
				<%}%> 
			</ul>
		</div>

		<div class="vh-menu-vertical vh-clear"></div>

		<address>
			<strong>Hải sản sạch</strong><br>Đường Võ Văn Ngân, Thủ Đức, TP.
			Hồ Chí Minh<br> <abbr title="Phone">P:</abbr> 098 396 29 15
			(Quỳnh)
		</address>

		<address>
			<strong>Facebook</strong><br> <a
				href="https://www.facebook.com/pages/H%E1%BA%A3i-S%E1%BA%A3n-T%C6%B0%C6%A1i-S%E1%BA%A1ch/179631565574277"
				target="_blank">Hải sản sạch Facebook</a>
		</address>

	</div>
</body>
</html>